<html>

<head>
   <meta http-equiv="pragma" content="no-cache" />
  <script src="https://code.jquery.com/jquery-1.7.min.js"></script>
</head>

<body>


  <div class="container-fluid" style="background-color: white">
    <div class="header">
      <div class="section_1">
        <div class="col-xs-6 col-sm-6 col-md-6 top-1">
          <div class="section1-img">
            <img src="assets/logo.png" class="logo1" (click)="goToHome()">
          </div>
        </div>
      </div>
    </div>
    <div class="section_2">
    <div *ngIf="showloading" class="toast">
      <!-- <h2 class="please-wait" style="color:#183466">Please Wait...</h2> -->
    </div>
    <h2 style="color: #183466" class="verify_msg_heading1">{{err_msg}}</h2>
    <div class="row part2 justify-content-center">
      <div *ngIf="showverifymessage" class="col-md-11" style="padding: 0px;margin: 0px">


        <!-- <h2 class="verify_msg_heading2">{{verify_msg_heading2}}</h2> -->
        <br>
        
      </div>
      <!-- <button  routerLink="/login" routerLinkActive="active" class="section1-bottom-button" type="button">Login
              </button> -->
   <div *ngIf="show_button_verify">
        <button  (click)="verifyEmail()"  class="section1-bottom-button">Verify Email</button>
   </div>
    <div *ngIf="show_button_started">       
        <button  (click)="getStarted()"  class="section1-bottom-button">Get Started</button>
    </div>
    </div>

  </div>
  </div>




</body>

</html>