
h1{
    font-family: 'Rubik', sans-serif;
  
  }
  h2{
       font-family: 'Open Sans', sans-serif;
  }
  
  
    .logo1{
    width: 14%;
  }
  @media  only screen and (max-width: 768px) {
   .logo1{
    width: 40%;
  }
  }
  .part1{
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 50px;
  }
  @media  only screen and (max-width: 768px) {
      .part1{
      padding-right: 0px;
    padding-left: 0px;
    
      }
  }
  
    .part2{
      padding-bottom: 240px;
      padding-left: 25%;
      padding-top: 50px;
      padding-right:25%;
    }
   @media  only screen and (max-width: 768px) {
      .part2 {
        padding-bottom: 130px;
      padding-left: 10px;
      padding-top: 30px;
      padding-right: 10px;
      }
  }
  
  @media  only screen and (max-width: 768px) {
      .top-1 {
     width: 50%;
      }
  }
  
  
  
    .sec-2{
       padding-bottom: 150px;
      padding-left: 50px;
      padding-top: 50px;
      padding-right: 50px;
    }
   @media  only screen and (max-width: 768px) {
      .sec-2 {
        padding-bottom: 115px;
      padding-left: 15px;
      padding-top: 15px;
      padding-right: 10px;
      }
  }
  
    
    .part2-head{
      font-weight: 900;
      color: #183466;
      letter-spacing: 2px;
      line-height: 160%;
       font-size: 45px;
       
    }
    @media  only screen and (max-width: 768px) {
      .part2-head {
        font-size: 30px;
         letter-spacing: 1px;
         margin-bottom: 0px;
      }
  }
  .h5{
    font-size: 1.5rem
  }
    .section_1{
      padding-top: 4%;
      padding-left: 1%;
    }  
    @media  only screen and (max-width: 768px) and (min-width: 300px)  {
   .section_1{
      padding-top: 10%;
    } 
  }
  /* body{
     background-color: dodgerblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100%;
    height: auto;
  } */
  .term_button{
      color: dodgerblue;
      background: transparent;
      height: auto;
      width: auto;
      padding: 0px;
      border: none;
      cursor: pointer;
  }
    p{
       font-size: 16px;
        text-align: center;
       font-family: 'Open Sans' sans-serif;
    }
      .terms_para{
        text-align: center;
        font-size: 14px;
      }
  
   .or-seperator{
      margin: 50px 0 15px;
      text-align: center;
      border-top: 1px solid #e0e0e0;
  }
  .or-seperator b{
      padding: 0 10px;
      width: 40px;
      height: 30px;
      font-size: 16px;
      text-align: center;
      line-height: 40px;
      background: #fff;
      display: inline-block;
      /* border: 2px solid #e0e0e0; */
      border-radius: 50%;
      position: relative;
      top: -22px;
      z-index: 1;
  }   
   .verify_msg_heading1{
      font-size: 30px;
      font-family: 'Rubik', sans-serif;
      letter-spacing: 1px;
    color: #183466;
    font-weight: 550;
    text-align: center;
  
  } 
  .verify_msg_heading2{
    font-size: 26px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    color: #183466;
    font-weight: 550;
    text-align: center;
}
  .please-wait{
    font-size: 26px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 550;
    text-align: center;
} 
  .linkedin{
      color: #3c70e9;
      width: 80%;
      padding-left: 5%;
      padding-right: 5%;
  }
    .section_2{
    padding: 10% 10% 10% 10%;
}
  .section1-bottom-button{
   font-family: 'Open Sans', sans-serif;
 text-align: center;
 width: 250px;
 height:50px ;
  cursor: pointer;
 font-size: 20px;
 border:none  ;
 border-radius:7px ;
 background-color:#183466;
 color: #ffffff;
 letter-spacing: 1px;
 font-weight: 900;
}
@media  only screen and (max-width: 768px) {
    .section1-bottom-button {
     width:200px;
     font-size: 15px;
     height: 100%;
     margin-bottom: 4%;
     margin-top: 4%;
    }
}