<meta http-equiv="pragma" content="no-cache" />
<body>
<!--header-->
	<div class="header-w3l">
	    <div class="container-fluid">
       <div class="row part1">
          <div  class="col-xs-6 col-sm-6 col-md-6 top-1">
            <div class="section1-img" style="float: left;">
            <img   (click)="backToHome()" src="assets/door_logo_white.png" class="logo1">
          </div>
          </div>
          <div  class="col-xs-6 col-sm-6 col-md-6 top-1 ">
            <div class="section1-but" style="margin-top:3% ; ">
            <button class="section1-button">Login</button>
          </div>
          </div>
       </div>
     </div>

		<h1></h1>
	</div>
<!--//header-->
<!--main-->
<div class="main-agileits">
	<h2 class="sub-head">Join Us</h2>
	<h3 class="sub-h">Start your journey today!</h3>	<br> <br>
		<div class="sub-main">	
			<form  #signupForm="ngForm" style="padding: 0px 12% 0px 12%">
				<input style="background-color: white" placeholder="Full Name"  class="name" type="text"  required
                                                    pattern="[a-zA-Z][a-zA-Z ]+"
                                                   [(ngModel)]="model.name" name="name"
							 #name="ngModel" >
				<div [hidden]="name.valid || name.pristine"   class="alert alert-danger" style="padding: 0px 10px 0px 10px" >
                 <div [hidden]="!name.hasError('required')">Name is required</div>
                   <div [hidden]="!name.hasError('pattern')">Number not allowed</div>
   </div>			 
					<br>


				
				<input style="background-color: white" placeholder="Email Address"  class="mail" type="text" required
                                               [(ngModel)]="model.email" name="email"
                                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
										  #email="ngModel" >
				<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                   <div [hidden]="!email.hasError('required')">Email is required</div>
                     <div [hidden]="!email.hasError('pattern')">Email format should be  <small><b>contact@thedoor.co</b></small>
               </div>	</div>					  
					<br>

				
				<input style="background-color: white" placeholder="Company Name"  class="name2" type="text" required 
				 [(ngModel)]="model.company_name" name="company_name"  #company_name ="ngModel"   >
                     <div [hidden]="company_name.valid || company_name.pristine" class="alert alert-danger">
                   <div [hidden]="!company_name.hasError('required')">Company Name is required</div>
                     </div>
					<br>


				<input style="background-color: white" placeholder="Title"  class="name2" type="text" required
					 [(ngModel)]="model.title" name="title"  #title ="ngModel" >
					   <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                   <div [hidden]="!title.hasError('required')">Title is required</div>
                     </div>
					<br>

					
				
				<input type="submit"  (click)="registerOnMailChimp()" value="Submit" [disabled]="!signupForm.form.valid" >
      </form>
      <div *ngIf="showmsg" class="toast"> {{message }} </div> 
      <div class="terms">
			<small>
                                        By signing up, you agree to The Door's
                                        <a href="javascript:void(0);" class="text-blue weight-300" (click)="goToTerms()">Terms of Use</a>,
                                        <a href="javascript:void(0);" class=" text-blue weight-300" (click)="goToPrivacy()">Privacy Policy</a>,
                                        and agree to receive communications from us.
                                      </small>
		</div>
		</div>
		<div class="clear"></div>
</div>
<!--//main-->

<!--footer-->
<div class="footer-w3">
	<p>&copy; 2017 The Door Technologies. All rights reserved.</p>
</div>
<!--//footer-->


