<html>
  <head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="pragma" content="no-cache" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" >
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </head>
<body>
 <div class="header" style="background-color: white" id="top">
   <div class="container-fluid" id="top">
       <div class="row part1">
          <div  class="col-xs-6 col-sm-6 col-md-6 top-1">
            <div class="section1-img">
            <img src="assets/logo.png" (click)="home()" class="logo1">
          </div>
          </div>
          <div  class="col-xs-6 col-sm-6 col-md-6 top-1 ">
            <div class="section1-but" style="margin-top:2% ; ">
            <button class="section1-button" (click)=" login()">Login</button>
          </div>
          </div>
       </div>

       <div class="row part2">
         <div  class="col-xs-12 ">
            <h1 class="part2-head">
             About:
             </h1>
           
             
         </div>
            <div class="col-xs-12">
             <P class="about-para">The Door Technologies develops software to enable talented but less represented founders to build and grow their companies. We focus primarily on women, LGBTQ, latinx, black, native Americans, veteran, and other underrepresented entrepreneurs</P>
             <br>
             <p class="about-para">Our goal is to foster a collaborative community where founders share resources, learn from experts and investors, and gain access to capital from the pool of angel and institutional investors in our network.</p><br>
             <p class="about-para">We work to have a long-term positive impact on:</p>
             
    <ul><li>  The share of venture capital invested in startups led by talented, but overlooked entrepreneurs.</li>

        <li>The number partnership opportunities between innovative startups and corporate enterprises and other organizations.</li></ul>
            </div>
          </div>
       
          
     </div>
  </div>
</body>
</html>