<html>

<head>
    <meta http-equiv="pragma" content="no-cache" />
    <script src="https://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
  
    <div class="header">
        <div class="container-fluid" style="background-color: white">
            <div class="section_1_forgot">
                <div class="col-xs-6 col-sm-6 col-md-6 top-1">
                    <div class="section1-img">
                        <img src="assets/logo.png" class="logo1" (click)="goToHome()">
                    </div>
                </div>

                <div class="row part2 justify-content-center">
                    <div class="col-md-11" style="padding: 0px;margin: 0px">
                       
                       <h2 class="register_heading">
                            <!-- {{user_type}} -->
                           Forgot Password
                        </h2><br>

                        <div class="col-xs-12 col-md-12" style="padding: 0px;margin: 0px">
                            <div class="card" style="padding: 10% 10% 5% 10%">
                              

                                <form #forgotForm="ngForm">
                                    <!-- <h2 class="h5 text-center mb-4" style="color:#183466; font-size: 30px;font-weight: 550;font-family: 'Rubik', sans-serif;letter-spacing: 1px; ">Sign in</h2> -->

                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix blue-text"></i>
                                        <input type="email" id="form81" class="form-control " [(ngModel)]="email" name="email" email>
                                        <label for="defaultForm-email" data-error="wrong" data-success="right" style="font-family:'Open Sans' sans-serif">Email</label>
                                    </div>

                                   


                                    <div class="text-center">
                                        <button class="btn  indigo darken-4" [disabled]="!forgotForm.form.valid" style="font-family: 'Open Sans' sans-serif" (click)="reset_password()">Reset Password</button><br><br>
                                    </div>
                                    <p>Not in the Door? <button (click)="goToHome()" class="term_button">Sign Up</button></p>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>